* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product::before {
  content: "sale";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  letter-spacing: 2px;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  padding: 7px 15px;
}

.product-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* collapsed height */
.product-content {
  background-color: orchid;
}

.product-img {
  float: left;
  margin-right: 40px;
}

/* PRODUCT INFORMATION */
.product-information {
  float: left;
  width: 243px;
  margin-right: 40px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.colors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.color {
  width: 22px;
  height: 22px;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-pink {
  background-color: pink;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

/* PRODUCT DETAILS */
.product-details {
  float: left;
  width: 243px;
  margin-top: 20px;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
